@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.error {
    color: red;
}

.list {

    padding: 2px 0;
    margin: 0;
}

.todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
    padding: 20px;
    font-family: Roboto;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 700;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 9px;

}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 20px;

}